<html>
  <head>
    <style>
      body {
        background-color: black;
        color: #8B0000;
      }
    </style>
  </head>
  <body>
    <center><h1>About me</h1></center>
    <center><p>
    I'm an independent game developer who embarked on this wild journey at the tender age of 10. 
    Now, at the ripe old age of 12, I've been coding for a whopping two years (yes, yes, hold your appluase)! I started this adventure 
    with nothing but an old windows pc ang 9 fingers. 
    Sure, my games might not be the next big blockbuster hits, but they're packed with straight up horror, 
    and a whole lot of learning.
</p></center>
<center><p>
My games might be a bit rough around the edges (the entire thing is rough).
and i am on the begining of a long road of this frustrating journey of game development!
</p></center>
  </body>
</html>